.header {
    padding: 47px 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: block;
    max-width: 230px;
    margin-right: auto;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu {
    padding: 5px 0;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 58px;
}

.menu__link {
    font-size: 18px;
    line-height: 24px;
    color: #B6B6B6;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.menu__link_active,
.menu__link:hover {
    color: var(--color-white);
}

.header-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-info__phone {
    font-weight: 700;
    font-size: 18px;
    line-height: 192.8%;
    color: var(--color-white);
    text-decoration: none;
}

.header-info__select {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    outline: none;
}

.header-info__option {
    color: var(--color-black);
}

.header-info__link {
    padding: 12px 38px;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width: 1200px) {
    .header__container {
        flex-direction: row-reverse;
    }

    .header__logo {
        margin-right: auto;
    }

    /* Гамбургер иконка */
    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }

    .menu-btn span {
        width: 100%;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-white);
        border-radius: 5px;
        transition: all 0.5s;
    }

    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }

    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }

    .menu-btn.active span {
        background-color: var(--color-white);
    }

    /* Меняем гамбургер иконку, когда меню открыто */
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }

    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }

    .menu-wrapper {
        flex-direction: column;
        position: fixed;
        top: 18%;
        right: 10px;
        max-width: 60%;
        padding: 15px;
        background-color: var(--color-white);
        border-radius: 5px;
        font-size: 15px;
        line-height: 25px;
        color: var(--color-black);
        transform: translateY(-500%);
        transition: transform 0.5s;
    }

    .menu-wrapper.active {
        transform: translateY(0);
    }

    .menu__list {
        flex-direction: column;
        gap: 30px;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .menu__link {
        font-size: 18px;
        line-height: 24px;
        color: #B6B6B6;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.3s ease-in-out;
    }

    .menu__link_active,
    .menu__link:hover {
        color: var(--color-black);
        border-bottom: 1px solid var(--color-black);
    }

    .header-info {
        justify-content: center;
        gap: 30px;
        border-top: 1px solid #B6B6B6;
        padding: 20px 0;
    }

    .header-info__phone {
        color: var(--color-black);
    }

    .header-info__select {
        color: var(--color-black);
    }

    .header-info__option {
        color: var(--color-black);
    }

    .header-info__link {
        border: 1px solid var(--color-black);
        padding: 10px 25px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 19px 0;
    }

    .header__logo {
        max-width: 180px;
    }

    .header-info {
        gap: 15px;
    }

    .header-info__phone,
    .header-info__select {
        font-size: 16px;
    }

    .header-info__link {
        padding: 10px 15px;
        font-size: 16px;
    }

    .menu-wrapper {
        top: 12%;
    }

    .header-info {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 425px) {
    .menu-wrapper {
        max-width: 90%;
        width: 100%;
        right: 5%;
    }
}